@import 'tailwind.css';
body {
  background-color: #eee;
}
ul {
  list-style-type: none;
}
.modal-toggle {
  position: absolute;
  appearance: none;
  left: -100%;
  top: -100%;
}
/* styling */
.c-modal-manual {
  border-radius: 0 0 2% 2%;
  padding: 10px;
  background: #666;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
.c-modal-manual__content {
  border-radius: 0 0 2% 2%;
  background: #181818;
  color: #eee;
}

.pagination {
  display: flex;
  margin: 0 auto;
  color: #666;
}
ul.pagination {
  align-items: center;
  justify-content: center;
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

ul.pagination li {
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 10px;
}

