
<div class="container font-sans mx-auto my-4 sm:text-lg text-base">
   {{outlet}}

   {{#each pagedContent as |post|}}
   <TheDetails @post={{post}} />
   {{/each}}

   {{page-numbers content=pagedContent}}
</div>